.generic-form {

}

.generic-form--shipping {
    padding: 0 2em;
}

.generic-form__input-name {
    display: flex;
    justify-content: space-between;
}

.generic-form__input-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 7px;
}
.generic-input__label {
    color: #080808;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 0.5em;
}

.generic-form__input {
    width: 100%;
    border: 1px solid $grey-lightest;
    @include border-radius(0);
    background-color: $white;
    padding: 18px 15px;
    line-height: 14px;
    color: $gray-light;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1em;
}


