$white: #ffffff;
$gray-light-bg: #f5f5f5;
$gray-medium-bg: #f1f1f1;
$border-medium-br: #e6e6e6;
$gray-dark-bg: #dddddd;
$grey-lightest: #d3d3d3;
$gray-eighty: #cccccc;
$gray-light: #999999;
$gray-medium: #666666;
$gray-dark: #333333;
$black-lighter-2: #151515;
$black-lighter-1: #080808;
$black: #000000;
$blue-light-bg: #53ba8c;
$primary-light-blue: #285b72;
$primary-blue: #0d3059;
$red: #e23d3d;
